body{
    background-color: black;
    padding: 0%;
}

header{
    background-color: blueviolet;
    border: 1px solid brown;
}
article{
    background-color: aliceblue;
    margin-top: 20 px;
    border: 1px solid white;
    border-top: 20px;
}