body{
    background-color: black;
    padding: 0%;
}
p{
    background-color: aliceblue;
    margin-top: 20 px;
    border: 1px solid white;
}
footer{
    text-align: left;
    background-color: dimgrey;
    
}